<br></br>
<br></br>
<br></br>
<br></br>
<div class="row">
  <div class="small-6 large-centered columns">
    <div class='note_info'>
      <h1 class='note_data'><%= @note.created_at.strftime("%b. %d, %Y") %></h1>
      <h2 class='note_header'><%= @note.horse.barn_name  %><h2>
      <h3 class='note_data'><%= @note.text %></h3>
    </div>
  </div>
</div
