@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Satisfy');

body, .wrapper {
    width: 100%;
    height: 100% !important;
    background-image: url('wish8qz.jpg') !important;
    background-color: #123D06;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.8;*/
}

.word {
  background: #474747;
  color: #008CBA;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin: 0px 25px 0px 5px;
  padding: 8px;
  /*border: 1px solid #008CBA;*/
}

.header-picture {
  height: 300px;
  border: 1px solid #008CBA;
}

.page-head {
  background: #474747;
  height:450px;
  width: 878px;
  text-align: center;
  /*margin-bottom: 25px;*/
  margin-top: 20px;
  opacity: 0.9
}

.barn_name {
  color: #008CBA;
  font-family: 'Satisfy', cursive;
  font-size: 60px;
}

.box {
  border-left: 1px solid #008CBA;
  padding-top: 7px;
}

.box2 {
  padding-top: 7px;
}

/*Home Page*/
.card {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  min-height: 100px;
  background: #474747;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 25px;
  margin-bottom: 25px;
  opacity: 0.9;
  margin-bottom: 25px;
}

/*Farrier Show*/
.farrier_info {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  background: #474747;
  min-height: 250px;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

.farrier_header {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.farrier_data {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*Veterinarian Show*/
.veterinarian_info {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  background: #474747;
  min-height: 250px;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

.veterinarian_header {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.veterinarian_data {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*Charge Show*/
.charge_info {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  background: #474747;
  min-height: 250px;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

.charge_header {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.charge_data {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*Note Show*/
.note_info {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  background: #474747;
  min-height: 250px;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

.note_header {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.note_data {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*Event Show*/
.event_info {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  background: #474747;
  min-height: 250px;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

.event_header {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.event_data {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*Owner Show*/
.user_info {
  padding-top: 25px;
  padding-left: 10px;
  background: #474747;
  height: 250px;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

.user {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.horse_list {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: #474747;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  border-radius: 50px;
  text-align: center;
  height: 250px;
  overflow-y: auto;
  opacity: 0.9;
}

.horse {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.horses{
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.nav_buttons {
  margin-top: 25px;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  background: #474747;
  border-radius: 50px;
  text-align: center;
  opacity: 0.9;
}

/*Horse Show*/
.info_tile {
  text-align: center;
  background: #474747;
  height: 425px;
  border-radius: 50px;
  opacity: 0.9;
}

.registered_name {
  color: #008CBA;
  font-family: 'Satisfy', cursive;
  font-size: 60px;
}

.horse_name {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 50px;
}

.user_name {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 30px;
}

.list_items {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*User and Horse Show*/
.charges {
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 10px;
  background: #474747;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  border-radius: 50px;
  height: 300px;
  overflow-y: auto;
  opacity: 0.9;
}

.events {
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 10px;
  background: #474747;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  border-radius: 50px;
  height: 300px;
  overflow-y: auto;
  opacity: 0.9;
}

.charges_head {
  font-family: 'Josefin Sans', sans-serif;
  padding-right: 40px;
  color: #008CBA;
  text-align: center;
}

.events_head {
  text-align: center;
  padding-right: 40px;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.notes {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  background: #474747;
  height: 300px;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  text-align: center;
  border-radius: 50px;
  overflow-y: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.9;
}

.notes_head {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

/*Forms*/
.form-inputs {
  max-width: 900px;
  max-height: 1100px;
  background: #474747;
  padding: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  border-radius: 50px;
  margin-bottom: 25px;
}

.form-actions {
  padding-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
}

.form_header {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 50px;
}

.link {
  color: #008CBA;
  font-family: 'Josefin Sans', sans-serif;
}

/*Veterinarian Index*/
.vet-head {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 60px;
}

.vet-list {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 30px;
}

/*Farrier Index*/
.farrier-head {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 60px;
}

.farrier-list {
  font-family: 'Josefin Sans', sans-serif;
  color: #008CBA;
  font-size: 30px;
}
